<div id="search-loading" class="<%= 'hidden' if !visible %> p-6 text-center text-gray-500">
  <span class="inline-block h-6 w-6 animate-spin rounded-full border-2 border-[#00638a] border-t-transparent"></span>
  <p class="mt-2 text-sm">Searching…</p>
</div>
